# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# Base ----------------------------------------

--find-links https://download.pytorch.org/whl/torch_stable.html
torch>=1.7.0
torchvision>=0.8.1
Pillow>=7.1.2
numpy>=1.18.5
opencv-python>=4.1.1
pandas==1.4.2